.degrade-sec{
    background: linear-gradient(90deg, rgba(172,172,172,0) 0%, rgba(199,199,181,0.24693627450980393) 57%);
}

.aumento:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

@keyframes headerAnimation{
    0%{background-image: url(../logo/zakira-shoes-Logo-2.svg);}
    50%{background-image: url(../logo/zakira-shoes-Logo-2.webp)}
    100%{background-image: url(../logo/zakira-shoes-Logo-2.svg);}
}

header{
    height: 15rem;
    background-size: cover;
    animation-name: headerAnimation;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
}