#pie{
    margin: 0.2rem 0.2rem;
    padding: 1rem;
    background-color: map-get($map: $colores, $key: 'fondopie');
    color: black;
    border:dashed 0.1rem map-get($map: $colores, $key: 'colorborde');
    grid-area: pie;

    div{

        h4{
            font-size: $fontS;
            font-weight: $bold;
        }

        p{ 
            font-size: $fontS;
            font-weight: $normal;
            margin-left: 0.3rem;
        }

        label{
            font-size: $fontXS;
        }
    }
}